<!DOCTYPE html>
<html ng-app="UserApp">
  <head>
    <meta charset="utf-8">
    <title>User Management</title>

    <link rel="stylesheet" href="../css/style.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script src="../module/user.module.js"></script>
    <script src="../controller/user.controller.js"></script>
  </head>

  <body ng-controller="UserController">

    <h1> {{ pageTitle }} </h1>

    <form ng-submit="post()">
        <div class="margin">
          <label for="name"> Name: </label><br/>
          <input type="text" id="userName" ng-model="newUser.name" />
        </div>

        <div class="margin">
          <label for="birthday"> Birthday: </label><br/>
          <input type="text" id="userBirthday" ng-model="newUser.birthday" />
        </div>

        <div class="margin">
          <label for="value"> Value: </label><br/>
          <input type="text" id="userValue" ng-model="newUser.value" />
        </div>

        <div class="margin">
          <label for="code"> Code: </label><br/>
          <input type="text" id="userCode" ng-model="newUser.code" />
        </div>

        <footer class="margin">
          <button type="submit"> Enviar </button>
        </footer>

        <h2>{{ outputMessage }}</h2>
    </form>

    <div class="grid">
      <div class="gridColumn">
        <label> Id </label>
      </div>
      <div class="gridColumn">
        <label> Name </label>
      </div>
      <div class="gridColumn">
        <label> Birthday </label>
      </div>
      <div class="gridColumn">
        <label> Value </label>
      </div>
      <div class="gridColumn">
        <label> Code </label>
      </div>
    </div>

    <form ng-init="show()">
        <div ng-repeat="user in users" class="grid">
          <div class="gridColumn">
            <label for="name"> {{ user.id }} </label>
          </div>
          <div class="gridColumn">
            <label for="name"> {{ user.name }} </label>
          </div>
          <div class="gridColumn">
            <label for="birthday"> {{ user.birthday }}</label>
          </div>
          <div class="gridColumn">
            <label for="value"> {{ user.value }} </label>
          </div>
          <div class="gridColumn">
            <label for="code"> {{ user.code }} </label>
          </div>
        </div>
    </form>

    <form id="deleteForm" ng-submit="delete(userId)" >
        <label> User ID: </label><br/>
        <input type="text" ng-model="userId"/>
        <button type="submit"> Delete </button>
    </form>

  </body>
</html>
